* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body p {
    padding-bottom: 10px;
    line-height: 1.7em; }

.button {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  color: black;
  display: inline-block;
  font-size: 1em;
  margin-top: 1em;
  font-weight: bold; }

.layout, .block-block-1 {
  max-width: 1420px;
  margin: 0 auto; }

.inner-layout, .front-block .block-content, .not-front #content {
  max-width: 980px;
  margin: 50px auto; }

.partition {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
  margin-bottom: 50px; }

.clear {
  clear: both; }

div.messages {
  position: relative !important;
  top: auto !important; }

h1, h2 {
  text-transform: uppercase;
  font-weight: 800; }

h1 {
  font-size: 3.8em; }

h2 {
  font-size: 2.3em; }

h1, h2, h3, h4, .title {
  color: black; }

.title {
  text-transform: inherit; }

h3 {
  margin-top: 30px;
  font-size: 1.3em; }

strong {
  font-weight: 900; }

h2 {
  font-size: 4.3em;
  padding-bottom: 10px;
  font-weight: 700; }
  h2:after {
    content: ""; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.hide-text, .social-link .block-content a, .view-featured-mavericks .slick-arrow {
  font-size: 0px;
  color: transparent;
  border: 0px; }

ul.menu {
  text-align: center; }
  ul.menu li {
    margin: 0px;
    padding: 0px;
    float: none;
    display: inline-block;
    padding: 0px 0.3em;
    vertical-align: middle; }
  ul.menu a {
    padding: 0.9em 0.5em;
    color: black;
    text-transform: uppercase;
    font-weight: bold; }
  ul.menu li.leaf {
    list-style: none; }

.social-link .block-content a {
  display: block;
  width: 28px;
  height: 25px; }

.block-menu-menu-social-menu .fb,
.block-menu-menu-social-menu--2 .fb {
  background: url(../images/fb.png) no-repeat; }
.block-menu-menu-social-menu .insta,
.block-menu-menu-social-menu--2 .insta {
  background: url(../images/insta.png) no-repeat; }
.block-menu-menu-social-menu .twitter,
.block-menu-menu-social-menu--2 .twitter {
  background: url(../images/twitter.png) no-repeat; }

#navigation {
  position: relative;
  z-index: 2;
  width: 100%; }
  #navigation .region-navigation {
    float: right;
    text-align: right;
    position: relative;
    margin-top: 8px; }
  #navigation #block-system-main-menu {
    float: left; }
  #navigation .block-menu {
    display: inline-block;
    vertical-align: middle; }
  #navigation > div {
    padding: 20px; }

#navigation.animateIt {
  position: fixed;
  top: -107px;
  background: white;
  z-index: 99;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74); }

body.down #navigation.animateIt {
  top: 0px;
  background: black; }
  body.down #navigation.animateIt a {
    color: white; }
  body.down #navigation.animateIt #logo-icon {
    display: inline-block; }
  body.down #navigation.animateIt #logo {
    display: none; }
  body.down #navigation.animateIt .fb {
    background: url(../images/fb-white.png) no-repeat; }
  body.down #navigation.animateIt .insta {
    background: url(../images/insta-white.png) no-repeat; }
  body.down #navigation.animateIt .twitter {
    background: url(../images/twitter-white.png) no-repeat; }

#logo-icon {
  display: none; }

#mobile-menu-icon {
  display: none; }

.line, h2:after, .front-block:after {
  background: url(../images/line.png) no-repeat center;
  width: 100%;
  height: 12px;
  display: block; }

.block-block-1 {
  text-align: center; }
  .block-block-1 .block-content > div {
    max-width: 500px;
    margin: 0 auto; }
  .block-block-1 .block-content img {
    width: 100%;
    height: auto; }

.front-block.banner .block-content {
  max-width: inherit;
  margin: 0 auto; }
  .front-block.banner .block-content > div {
    width: auto;
    float: none; }

.front-block {
  padding: 100px 10px;
  overflow: hidden;
  position: relative; }
  .front-block:after {
    content: "";
    position: absolute;
    bottom: 0; }
  .front-block .block-content > div {
    float: left; }
  .front-block .block-content .image,
  .front-block .block-content .views-field-field-image-feature {
    width: 40%; }
  .front-block .block-content .text,
  .front-block .block-content .views-field-body {
    width: 50%;
    padding-right: 10%; }

.block-block-3:after,
.block-block-5:after {
  display: none; }

.front-block.slider .block-content > div {
  float: none; }
.front-block.slider .block-content .views-field {
  float: left; }

.view-featured-mavericks .view-content {
  position: relative; }
.view-featured-mavericks .views-row {
  overflow: hidden;
  position: relative; }
.view-featured-mavericks .slick-arrow {
  width: 20px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  z-index: 99; }
.view-featured-mavericks .slick-prev {
  background: url(../images/left-arrow.png) no-repeat;
  left: 0px; }
.view-featured-mavericks .slick-next {
  background: url(../images/right-arrow.png) no-repeat;
  left: 50px; }

.instagram {
  background: black;
  color: white;
  text-align: center; }
  .instagram .views-row {
    float: left; }
    .instagram .views-row a {
      display: block; }
  .instagram h2 {
    color: white; }
    .instagram h2:after {
      background: url(../images/white-line.png) no-repeat center; }
  .instagram .button {
    border-color: white;
    color: white; }

#instagram-pics p {
  font-size: 0px;
  color: transparent; }

.block-mailchimp-signup {
  width: 40%;
  padding-top: 133px; }

.mailchimp-newsletter-mergefields + p {
  position: absolute;
  left: -1000px; }

#footer {
  text-align: center;
  overflow: hidden;
  clear: left;
  padding-bottom: 50px; }
  #footer .social-link {
    overflow: hidden;
    max-width: 132px;
    margin: 0 auto; }

.block-menu-menu-footer-menu {
  padding-top: 20px;
  font-size: 0.9em; }

.not-front #content {
  overflow: hidden; }

.view-maveick-hoodie .attribute-widgets + p {
  position: absolute;
  left: -10000px; }

.page-checkout .block-block-7,
.page-checkout .block-system-main {
  width: 50%;
  float: left; }
.page-checkout #page-title {
  display: none; }

.block-views-maveick-hoodie-block-1 .block-content {
  margin: 0 auto; }

.ajax-progress .message {
  display: none; }

.page-cart th,
.page-cart td {
  padding: 20px 10px 0px; }
.page-cart th {
  padding-bottom: 10px; }
.page-cart form table {
  width: 100%; }
.page-cart .form-submit {
  margin: 10px; }
.page-cart input[type=text] {
  margin-top: 10px; }

.form-submit,
#commerce-checkout-form-checkout .checkout-buttons .checkout-cancel {
  background: transparent;
  border: 1px solid;
  padding: 10px 2.5em;
  font-size: 1em;
  font-weight: bold;
  color: black; }

input[type=text],
input[type=password],
select {
  border: 3px solid black;
  padding: 10px;
  width: 90%; }

input[type=hidden],
input[type=hidden] + br {
  display: none; }

fieldset {
  border: 0px; }

.fieldset-legend {
  font-size: 2em; }

.form-item-customer-profile-billing-commerce-customer-address-und-0-name-line {
  width: 100%; }

#edit-customer-profile-billing .form-item {
  display: inline-block;
  width: 45%;
  margin-right: 3%; }
#edit-customer-profile-billing select {
  height: 39px;
  border-radius: 0px;
  width: 100%; }

#edit-commerce-payment .form-type-select {
  display: inline-block;
  width: 100px;
  margin-right: -13px; }

.view-maveick-hoodie form {
  position: relative;
  width: 111px;
  height: 75px;
  display: block; }
.view-maveick-hoodie select {
  padding: 0px; }
.view-maveick-hoodie .form-submit {
  position: absolute;
  bottom: -20px; }

.form-submit.form-button-disabled {
  color: #ccc; }

/*# sourceMappingURL=screen.css.map */
