.form-submit,
#commerce-checkout-form-checkout .checkout-buttons .checkout-cancel,
.checkout-back.form-submit
{
	background: transparent;
    border: 1px solid;
    padding: 10px 2.5em;
    font-size: 1em;
    font-weight: bold;
    color: black;
    margin: 10px 10px 10px 0px;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.3s ease 0s;

    &:hover
    {
    	background: black;
    	color: white;
    }
}

input[type=text],
input[type=email],
input[type=password],
select
{
	border: 1px solid black;
    padding: 10px;
    width: 87%;
    background: transparent;
    border-radius: 0px;
    -webkit-appearance: none;
}

input[type=hidden],
input[type=hidden]+br
{
	display: none;
}

select
{
	border-radius: 0px;
	-webkit-appearance: none;
	background: url(../images/dropdown-arrow.png) no-repeat 98% center;
}

fieldset
{
	border: 0px;
	padding: 0px;
}

.form-item input.error,
.form-item select.error
{
	border:1px solid red;
}

.fieldset-legend
{
	font-size: 2em;
}

.form-item-customer-profile-billing-commerce-customer-address-und-0-name-line
{
	width: 100%;
}

.commerce-add-to-cart
{
	.form-item
	{
		margin: 10px 0px;
	}

	.price + p
	{
		display: none;
	}

	.form-item-quantity label+ br
	{
		display: none;
	}
}

.form-required
{
	color: black;
}

#commerce-checkout-form-checkout
{
	.messages.error
	{
		display: none;
	}

	.instruction
	{
		font-size: 14px;
		padding-top: 10px;
	}
}

#edit-customer-profile-billing
{
	.form-item
	{
		float: left;
		width: 45%;
	 	margin-right: 3%;
	}

	label
	{
		text-transform: capitalize;
	}

	.form-item-account-login-mail
	{
		float: none;
		width: 100%;
	}

	select
	{
	    border-radius: 0px;
	    width: 98%;
	}
}

#edit-commerce-payment
{
	.form-type-select
	{
	    display: inline-block;
	    width: 100px;
	    margin-right: -13px;
	}

	label
	{
		text-transform: capitalize;
	}
}

#commerce-checkout-form-review
{
	.form-item.price{

		display: none;
	}
}

.checkout-review
{
	td,
	label
	{
		text-transform: capitalize;
	}
}

#edit-account + .fieldset-wrapper > .messages.error + .instruction
{
	position: absolute;
	left: -1000px;
}

.view-maveick-hoodie
{	
	form
	{	
		position: relative;
	    display: block;
	}

	select
	{
		
		border: 1px solid black;
	    border-radius: 0px!important;
	 	-webkit-appearance: none;
	}

	.form-submit
	{
	    margin: 10px 0px;
	}
}

.form-submit.form-button-disabled
{
	color: #ccc;
}

.button-operator
{
	display: none;
}